<h1>Feature 1 Test Container</h1>
<p>Try clicking more info to toggle sideview</p>

<section class="freelancers">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Angus MacGyver</mat-card-title>
      <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://timedotcom.files.wordpress.com/2015/10/macgyver.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        Hello. I am Angus from the U.S. I know some python, PHP and AngularJS. I
        know some C too.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="toggleSideView()">More info</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Angus MacGyver</mat-card-title>
      <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://timedotcom.files.wordpress.com/2015/10/macgyver.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        Hello. I am Angus from the U.S. I know some python, PHP and AngularJS. I
        know some C too.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="toggleSideView()">More info</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Angus MacGyver</mat-card-title>
      <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://timedotcom.files.wordpress.com/2015/10/macgyver.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        Hello. I am Angus from the U.S. I know some python, PHP and AngularJS. I
        know some C too.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="toggleSideView()">More info</button>
    </mat-card-actions>
  </mat-card>
</section>
