mat-sidenav-content {
  background: whitesmoke;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background: rgb(253, 255, 227);
}

mat-icon {
  cursor: pointer;
}

.active {
  color: green;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;

  a {
    color: white;
  }
}

mat-toolbar-row > section {
  display: flex;
}

section.sidenav {
  max-width: 300px;
  padding: 1rem;
}

section > div {
  margin-right: 2rem;
}
section > div:last-child {
  margin-right: 0;
}

main {
  padding: 1rem;
}
