<mat-toolbar color="primary">
  <mat-toolbar-row>
    <section><span>NGRX Starter by Mulperi</span></section>

    <section>
      <div>
        <a routerLink="/feature1" routerLinkActive="active"
          ><button mat-raised-button>FEATURE1</button></a
        >
      </div>
      <div>
        <a routerLink="/feature2" routerLinkActive="active"
          ><button mat-raised-button>FEATURE2</button></a
        >
      </div>
    </section>
  </mat-toolbar-row>
</mat-toolbar>

<main><router-outlet></router-outlet></main>
